# Competição Titanic

## Obtento Dados

In [1]:
# Listando estrutura dos arquivos
!tree

Listagem de caminhos de pasta para o volume OS
O número de série do volume é 6874-3D35
C:.
+---.ipynb_checkpoints
+---data

In [2]:
# importando pacotes necessários
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown

# permitindo visualizar todas as colunas no Pandas
pd.options.display.max_columns = None

# renderizar os gráficos diretamento no notebook
%matplotlib inline

In [3]:
# Obtendo os dados
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [4]:
# verificando as dimensões do DataFrame de treino
print("Variáveis:\t{}\nEntradas:\t{}".format(train.shape[1], train.shape[0]))

Variáveis:	12
Entradas:	891

## Exploração dos Dados

### Dicionário de Dados do treino

In [5]:
# Visualizando as colunas do DataFrame train
data_column = list(train.columns)
display(Markdown(f"**Nome das colunas:** {data_column}"))

# Vizualizando os 3 primeiros dados do DataFrame train
display(Markdown("**Os 3 primeiros dados no Dataframe são:**"))
display(train.head(3))

**Nome das colunas:** ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

**Os 3 primeiros dados no Dataframe são:**

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

##### Coluna: PassengerId

In [6]:
# Descrição
display(Markdown("**PassengerId:**"))
display(Markdown("Numero de identificação dos passageiros."))

# Identificando tipo da coluna
type_column = train['PassengerId'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['PassengerId'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = train['PassengerId'].unique()
first = unique_values[:10]
last = unique_values[-10:]
display(Markdown(f'**Tipos únicos dentro da coluna (amostra):** {first} ... {last}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['PassengerId']].head(3))

**PassengerId:**

Numero de identificação dos passageiros.

**Tipo da coluna:** int64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna (amostra):** [ 1  2  3  4  5  6  7  8  9 10] ... [882 883 884 885 886 887 888 889 890 891]

**Os 3 primeiros dados na coluna são:**

   PassengerId
0            1
1            2
2            3

#####  Coluna: Survived

In [7]:
# Descrição
display(Markdown("**Survived:**"))
display(Markdown("Informa se o passageiro sovbreviveu ou não"))

# Identificando tipo da coluna
type_column = train['Survived'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Survived'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = train['Survived'].unique()
display(Markdown(f'**Tipos únicos dentro da coluna:** {unique_values}'))
display(Markdown(f'- {unique_values[0]} = Não'))
display(Markdown(f'- {unique_values[1]} = Sim'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Survived']].head(3))

**Survived:**

Informa se o passageiro sovbreviveu ou não

**Tipo da coluna:** int64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna:** [0 1]

- 0 = Não

- 1 = Sim

**Os 3 primeiros dados na coluna são:**

   Survived
0         0
1         1
2         1

##### Coluna: Pclass

In [11]:
# Descrição
display(Markdown("**Pclass:**"))
display(Markdown("Informa a Classe que o passageiro estava"))

# Identificando tipo da coluna
type_column = train['Pclass'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Pclass'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = sorted(train['Pclass'].unique())
display(Markdown(f'**Tipos únicos dentro da coluna:** {unique_values}'))
display(Markdown(f'- {unique_values[0]} = 1° Classe'))
display(Markdown(f'- {unique_values[1]} = 2° Classe'))
display(Markdown(f'- {unique_values[2]} = 3° Classe'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Pclass']].head(3))

**Pclass:**

Informa a Classe que o passageiro estava

**Tipo da coluna:** int64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna:** [1, 2, 3]

- 1 = 1° Classe

- 2 = 2° Classe

- 3 = 3° Classe

**Os 3 primeiros dados na coluna são:**

   Pclass
0       3
1       1
2       3

##### Coluna: Name

In [14]:
# Descrição
display(Markdown("**Name:**"))
display(Markdown("Informa o nome do passageiro"))

# Identificando tipo da coluna
type_column = train['Name'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Name'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = train['Name'].unique()
first = unique_values[:3]
last = unique_values[-3:]
display(Markdown(f'**Tipos únicos dentro da coluna (amostra):** {first} ... {last}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Name']].head(3))

**Name:**

Informa o nome do passageiro

**Tipo da coluna:** object

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna (amostra):** ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina'] ... ['Johnston, Miss. Catherine Helen "Carrie"' 'Behr, Mr. Karl Howell'
 'Dooley, Mr. Patrick']

**Os 3 primeiros dados na coluna são:**

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina

##### Coluna: Sex

In [16]:
# Descrição
display(Markdown("**Sex:**"))
display(Markdown("Informa o gênero do passageiro"))

# Identificando tipo da coluna
type_column = train['Sex'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Sex'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = sorted(train['Sex'].unique())
display(Markdown(f'**Tipos únicos dentro da coluna:** {unique_values}'))
display(Markdown(f'- {unique_values[0]} = Feminino'))
display(Markdown(f'- {unique_values[1]} = Masculino'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Sex']].head(3))

**Sex:**

Informa o gênero do passageiro

**Tipo da coluna:** object

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna:** ['female', 'male']

- female = Feminino

- male = Masculino

**Os 3 primeiros dados na coluna são:**

      Sex
0    male
1  female
2  female

##### Coluna: Age

In [18]:
# Descrição
display(Markdown("**Age:**"))
display(Markdown("Informa a idade do passageiro"))

# Identificando tipo da coluna
type_column = train['Age'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Age'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = train['Age'].unique()
first = unique_values[:10]
last = unique_values[-10:]
display(Markdown(f'**Tipos únicos dentro da coluna (amostra):** {first} ... {last}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Age']].head(3))

**Age:**

Informa a idade do passageiro

**Tipo da coluna:** float64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna (amostra):** [22. 38. 26. 35. nan 54.  2. 27. 14.  4.] ... [57.   80.   70.   24.5   6.    0.67 30.5   0.42 34.5  74.  ]

**Os 3 primeiros dados na coluna são:**

    Age
0  22.0
1  38.0
2  26.0

##### Coluna: SibSp

In [22]:
# Descrição
display(Markdown("**SibSp:**"))
display(Markdown("Quantiedade de cônjuges e irmãos a bordo"))

# Identificando tipo da coluna
type_column = train['SibSp'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['SibSp'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = sorted(train['SibSp'].unique())
display(Markdown(f'**Tipos únicos dentro da coluna:** {unique_values}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['SibSp']].head(3))

**SibSp:**

Quantiedade de cônjuges e irmãos a bordo

**Tipo da coluna:** int64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna:** [0, 1, 2, 3, 4, 5, 8]

**Os 3 primeiros dados na coluna são:**

   SibSp
0      1
1      1
2      0

##### Coluna: Parch

In [23]:
# Descrição
display(Markdown("**Parch:**"))
display(Markdown("Quantiedade de pais e filhos a bordo"))

# Identificando tipo da coluna
type_column = train['Parch'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Parch'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = sorted(train['Parch'].unique())
display(Markdown(f'**Tipos únicos dentro da coluna:** {unique_values}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Parch']].head(3))

**Parch:**

Quantiedade de pais e filhos a bordo

**Tipo da coluna:** int64

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna:** [0, 1, 2, 3, 4, 5, 6]

**Os 3 primeiros dados na coluna são:**

   Parch
0      0
1      0
2      0

##### Coluna: Ticket

In [24]:
# Descrição
display(Markdown("**Ticket:**"))
display(Markdown("Numero da passagem"))

# Identificando tipo da coluna
type_column = train['Ticket'].dtypes
display(Markdown(f"**Tipo da coluna:** {type_column}"))

# Identificando quantidade de dados na coluna
qnt_column = len(train['Ticket'])
display(Markdown(f"**Quantidade de registros:** {qnt_column} registros"))

# Identificando os tipos de dados dentro da coluna
unique_values = train['Ticket'].unique()
first = unique_values[:10]
last = unique_values[-10:]
display(Markdown(f'**Tipos únicos dentro da coluna (amostra):** {first} ... {last}'))

# Visualizando os 3 primeiros dados da coluna
display(Markdown("**Os 3 primeiros dados na coluna são:**"))
display(train[['Ticket']].head(3))

**Ticket:**

Numero da passagem

**Tipo da coluna:** object

**Quantidade de registros:** 891 registros

**Tipos únicos dentro da coluna (amostra):** ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736'] ... ['349212' '349217' '349257' '7552' 'C.A./SOTON 34068' 'SOTON/OQ 392076'
 '211536' '112053' '111369' '370376']

**Os 3 primeiros dados na coluna são:**

             Ticket
0         A/5 21171
1          PC 17599
2  STON/O2. 3101282

##### Coluna: